*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body{
    background-color: rgb(248, 243, 206);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    background-color: rgb(221, 218, 208);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .25);
}

    .header1{
        font-family: Poppins;
        font-weight: 600;
    }

    .name{
        color:rgb(84,70,58);
        font-weight: bold;
    }
    
    .bscs{
        color: rgb(102, 101, 92);
    }

    header li {
        display: inline-block;
        font-family: montserrat;
        margin: 0 15px;
        font-size: 15.5px;
    }

    li a {
        text-decoration: none;
        color: rgb(87, 86, 79);
        font-weight: bold;
        transition: color 0.15s, text-decoration 0.15s;
    }

    li a:hover {
        text-decoration: none;
        color: rgb(131, 141, 125);
    }

    .active{
        color: rgb(131, 141, 125);
    }

.container{
    background-color: white;
    padding: 20px;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

h2,p {
    margin-bottom: 5px;
    text-align: left;
}

p{
    margin-top: 0;
}


textarea, .date{
    width: 100%;
    height: 100px;
    font-family: poppins;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    box-sizing: border-box;
}

button{
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    background-color: rgb(131, 141, 125);
    border: none;
    color: rgb(238, 235, 224);
    font-family: poppins;
    cursor: pointer;
    border-radius: 5px;
    transition: opacity 0.3s;
}

button:hover{
    opacity: 0.8;
}

.fn{
border-width: 0.5px;
border-radius: 5px;
width: 49%;
height: 50px;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 11px;
}

.ln{
border-width: 0.5px;
border-radius: 5px;
width: 50%;
height: 50px;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 11px;
}

.email{
border-width: 0.5px;
border-radius: 5px;
width: 100%;
height: 45px;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 11px;
}

textarea:focus{
    outline: none;
}

.date{
border-width: 0.5px;
border-radius: 5px;
width: 100%;
height: 45px;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 11px;
}

.date-today{
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 15px;
}
